.Faq{
    color: black;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding:30px 0 30px 0;
    background-color: #d1d1d1;
}
.Faq-bar{

}
.Contactus-form{
    display: flex;
    flex-direction: column;
}
.Contactus-form input{
    width: 300px;
}
.login-box {
    position: relative;
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    /* position: absolute; */
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    /* pointer-events: none; */
    transition: .5s;
  }
  
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    transform: scale(1.1);
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  .login-box-submit{
      display: flex;
      justify-content: space-around;
  }