@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Style+Script&display=swap');
.Header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.section1{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 80%;
    background-color: #fff;
    color: black;
    padding: 0.4em;
}
.immiglobal-text{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
}
.immiglobal-text span{
    position: relative;
    left: 20px;
}
.contacting{
    display: flex;
    width: 50%;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.media-link{
    display: flex;
}
.media-link li{
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    padding: 0.4em;
    margin-right: 2px;
    font-size: 2.5em;
    transition: 0.3s all ease;
}
#insta:hover{
    background-color: pink;
    cursor: pointer;
    transform: scale(1.07);
}
#facebook:hover{
    background-color: blue;
    cursor: pointer;
    transform: scale(1.07);
}
#linkedin:hover{
    background-color: green;
    cursor: pointer;
    transform: scale(1.07);
}
#twitter:hover{
    background-color: lightblue;
    cursor: pointer;
    transform: scale(1.07);
}
.contact-link{
    font-weight: 600;
    align-items: center;
    line-height: 40px;
}
.contact-link li{
    font-size: 1.4em;
    display: flex;
    align-items: center;
}
.contact-link li i{
    margin-right: 10px;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 80%;
    height: 40px;
}